<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h2 class="fw-light">Модуль для контроля и учета заказов</h2>
        <p class="lead text-muted">Здесь Вы можете заказать изделия, произведенные на хлебозаводе "N"</p>
        <p>
          <% unless current_user %>
            <%= link_to 'Авторизоваться', new_user_session_path, class: 'btn btn-primary my-2' %>
          <% end %>
          <%= link_to 'Смотреть изделия', products_path, class: 'btn btn-secondary my-2' %>
        </p>
      </div>
    </div>
  </section>
</main>
